<h1><strong>Hello World !</strong></h1>
<p> michelle {{numberOfStarships}} </p>
<div>
    <table>
        <tr>
            <th> Top</th>
            <td>{{myShip.top}}</td>
        </tr>
        <tr>
            <th> bottom</th>
            <td>{{myShip.bottom|upper}}</td>
        </tr>
        <tr>
            <th> thirdWheel</th>
            <td>{{myShip.thirdWheel}}</td>
        </tr>
    </table>
</div>