{% extends  'base.html.twig' %}
{% block title %}
    {{ parent() }} ShipShop
{% endblock %}
{% block body %}
<h1><strong>Hello World !</strong></h1>
<p> Nombre de ships : {{ships|length}} </p>
{% if ships|length > 400 %}
    <p>
        C'est beaucoup de ships!!!!
    </p>
{% endif %}
<div>
    <table>
        <tr>
            <th> Id</th>
            <td>{{myShip.id}}</td>
        </tr>
        <tr>
            <th> Name</th>
            <td>{{myShip.name|upper}}</td>
        </tr>
    </table>
</div>
{% endblock %} 